@import "src/variables";

.filters {
  flex: 1 1 30%;
  border: $border;
  padding: $padding-l;
}

.main {
  align-items: flex-start;
  flex: 2 2 70%;
}

.hidden {
  visibility: hidden;
}

.page {
  display: flex;
  align-items: flex-start;
  min-height: $content-min-height;
  gap: $padding-l;
  padding: $padding-l;
}
