@import "src/variables";

.list {
  list-style: none;
  padding: 0;
}

.listItem + .listItem {
  margin-top: $padding-m;
}

.title {
  font-weight: bold;
  font-size: $font-size-m;
  margin-bottom: $padding-m;
}

.subtitle {
  font-size: $font-size-m;
  margin-bottom: $padding-m;
}
