// colors
$color-gallery: #ededed;
$color-tundra: #4a4a4a;
$color-tango: #ea7f28;
$color-ochre: #d37324;

// paddings
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 24px;

// sizes
$header-height: 80px;
$details-content-width: 800px;
$content-min-height: calc(100% - 2 * #{$header-height});

// font sizes
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 32px;

// other
$border: 1px solid $color-gallery;
