@import "variables";
@import "bootstrap-overrides";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&");

#root {
  font-family: Roboto, sans-serif;
  color: $color-tundra;
}

body {
  --bs-body-font-size: #{$font-size-s};
}

html,
body,
#root {
  height: 100%;
}

.btn {
  width: 128px;
  height: 32px;
  line-height: 1em;
}

a {
  color: $color-tango;
  text-decoration: none;

  &:hover {
    color: $color-tango;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
